<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>リモコン</title>
    <style>
        #app{
            width:100%;
            height:100%;
        }
        a{
            text-decoration: none;
            color:black;
            text-align: center;
            display:inline-block;
            font-size:40px;
            background:#ddd;
            border-radius: 10px;
            margin:10px;
        }
        input{
            font-size:30px;
            width:300px;
        }
    </style>
</head>
<body>
    <div id="app">
        <btn v-for="(item, idx) in btnlist" :data="item" :click="()=>send(idx)"></btn>
        <a href="#" @click="ws.send('search:'+searchq)">検索</a><br>
        <input type="search" v-model="searchq">
        <p>接続状況： {{isc ? "接続" : "切断"}}</p>
    </div>
    <script type="module" src="script"></script>
</body>
</html>